$baseFontSize: 16px;
$baseFontFamily: "Roboto", "Helvetica", "Arial", sans-serif;

$greenColor: #3cb481;
$lightBlueColor: #4990e2;
$orangeColor: #ff9800;
$blueGreyColor: #465a65;
$lighterGreyColor: #80869c;
$darkTexColor: #2c2f37;